<div class="row">
  <div class="row searchResultsNav">

    <div class="col-md-4">
      <button class="btn btnPrevPage">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btnNextPage">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <button class="btn btnTableView">
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <button class="btn btnThumbView">
        <span class="glyphicon glyphicon-th-large"></span>
      </button>
    </div>

    <div class="col-md-8 searchLog">
      <div class="row">
        <div class="col-md-6"><input id="q" class="text" value="{{ query }}"></input> <button id="btnSearch">Search</button></div>
        <div class="col-md-6">sort: {{ sort }}</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span id="pageNumber">{{ page }}</span>
          / <span id="totalPageNumber">{{ totalPages }}</span>
          (<span id="totalMovies">{{ total }}</span>)
        </div>
      </div>
    </div>

  </div>
</div>