<div class="row">
  <div class="row searchResultsNav">

    <div class="col-md-4">
      <button class="btn btnPrevPage">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btnNextPage">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <button class="btn btnTableView">
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <button class="btn btnThumbView">
        <span class="glyphicon glyphicon-th-large"></span>
      </button>
    </div>

    <div class="col-md-4 searchLog">
      <div class="row">
        <div class="col-md-12">query: {{ query }}</div>
      </div>
      <div class="row">
        <div class="col-md-12">sort: {{ sort }}</div>
        <div id="totalMovies" class="col-md-3">{{ total }}</div>
      </div>
      <div class="row">
        <div id="pageNumber" class="col-md-3">{{ page }}</div>
        <div id="totalPageNumber" class="col-md-3">{{ totalPages }}</div>
      </div>
    </div>

  </div>
</div>