<div id="search-result" class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <h1>Movies</h1>
    </div>
    
    <div class="row searchResultsNav">

      <div class="col-md-4">
        <button class="btn btnPrevPage">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button class="btn btnNextPage">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>

        <button class="btn btnShowThumbs">show table</button>
      </div>

      <div class="col-md-4 searchLog">
        <div class="row">
          <div class="col-md-12">query: {{ query }}</div>
        </div>
        <div class="row">
          <div class="col-md-12">offset: {{ offset }}</div>
        </div>
        <div class="row">
          <div class="col-md-12">total: {{ total }}</div>
        </div>
        <div class="row">
          <div class="col-md-12">sort: {{ sort }}</div>
        </div>
      </div>

    </div>

  </div>

  <br>
  <div class="row">
    {{#each results}}
    <div class="col-md-2 search-thumb-item" data-id="{{ id }}">
      <div class="row">
        <div class="col-md-12 search-thumb-title">
          {{title}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="#movies/{{id}}">
            <img class="title-image-thumb" src="{{ firstThumb }}"></img>
          </a>
        </div>
      </div>
      <div class="row search-thumb-rating">
        <div class="col-md-6">
          {{imdbInfo.rating}}
        </div>
        <div class="col-md-6">
          {{year}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>