<div class="row movie-title">
  <div class="col-md-2 title-image">
    <div class="row nav-button">
      <button class="btn btn-prev">
        <span class="glyphicon glyphicon-arrow-left"></span> Prev
      </button>
      <button class="btn btn-next">
        <span class="glyphicon glyphicon-arrow-right"></span> Next
      </button>
    </div>
    <div class="row">
      <a href="#movies/{{id}}/thumbs/{{thumb.0.name}}">
        <img class="title-image-thumb" src="{{thumb.0.prevThumb}}">
      </a>
    </div>
  </div>
  <div class="col-md-10 title-movie-detail">
    <div class="row">
      <div class="col-md-12">
        <h1 class="big-title">
          {{title}}
        </h1>
      </div>
    </div>
    <div class="row title-info-row">
        <div class="col-md-3">
          <span class="glyphicon glyphicon-star">
            <span class="imdb-rating">{{imdbInfo.rating}}</span>
          </span>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 title-year">
              {{year}}
            </div>
            <div class="col-md-8 country">
              {{ country }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 runtime">
              {{ runtime }} min
            </div>
            <div class="col-md-8 genre">
              {{#commalist genre}}{{this}}{{/commalist}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="director">{{#commalist director}}{{this}}{{/commalist}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p class='tagline'>{{tagline}}</p>
    <p class='plot'>{{plot}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>IMDB link</h4>
    <a target="blank" href="http://www.imdb.com/title/{{idImdb}}/">http://www.imdb.com/title/{{idImdb}}/</a>
    <br/>
    <a target="blank" href="http://legendas.tv/busca?q={{title}}">legendas.tv</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Actors</h4>
    {{#commalist actor}}{{name}} ({{role}}){{/commalist}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Paths</h4>
    {{#each filePaths }}
      <textarea class="path_TextArea">{{folder}}</textarea>
      <textarea class="path_TextArea">{{onlyFile}}</textarea>
      <textarea class="path_TextArea">{{fullPath}}</textarea>
      <br>
      <hr>
    {{/each}}
    {{!-- <pre>{{#each filePaths }}<div class="copy_area" data-clipboard-text="{{ folder }}">{{ folder }}</div><div class="copy_area" data-clipboard-text="{{ onlyFile }}">{{ onlyFile }}</div> <div class="copy_area" data-clipboard-text="{{ fullPath }}">copy full path</div> --}}
    {{!-- {{/each}}</pre> --}}
  </div>
</div>

{{!-- <div class="row">
  <div class="col-md-12 thumbs">
    {{#each thumb}}
      <div class="thumbContainer col-md-2">
        <a href="#movies/{{../id}}/thumbs/{{name}}">
          <img class="prevThumb" src="{{prevThumb}}">
        </a>
      </div>
    {{/each}}
  </div>
</div>
 --}}