{{!-- <tr class="trMovie" data-id="{{id}}"> --}}
  <td class='rating'>{{imdbInfo.rating}}</td>
  <td class='year'>{{year}}</td>
  <td>{{titleAndOriginal}}</td>
  <td>{{imdbInfo.title_ptbr}}</td>
  <td>{{director}}</td>
  <td><a target="blank" href="http://www.imdb.com/title/{{idImdb}}/">{{idImdb}}</a></td>
{{!-- </tr> --}}
